appdirs==1.4.4
astroid==2.4.2
beautifulsoup4==4.9.3
blis==0.7.4
catalogue==2.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cymem==2.0.5
distlib==0.3.1
docx2txt==0.8
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
filelock==3.0.12
flake8==3.8.4
gensim==3.8.3
idna==2.10
isort==5.7.0
Jinja2==2.11.3
joblib==1.0.1
lazy-object-proxy==1.4.3
lxml==4.6.2
MarkupSafe==1.1.1
mccabe==0.6.1
murmurhash==1.0.5
numpy==1.20.1
packaging==20.9
pandas==1.2.2
pathy==0.4.0
pdfminer.six==20200517
pdfplumber==0.5.26
Pillow==8.1.0
preshed==3.0.5
pycodestyle==2.6.0
pycryptodome==3.10.1
pydantic==1.7.3
pyflakes==2.2.0
pylint==2.6.2
pyparsing==2.4.7
PyPDF2==1.26.0
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.1
six==1.15.0
smart-open==3.0.0
sortedcontainers==2.3.0
soupsieve==2.1
spacy==3.0.3
spacy-legacy==3.0.1
srsly==2.4.0
thinc==8.0.1
threadpoolctl==2.1.0
tika==1.24
toml==0.10.2
tqdm==4.57.0
typer==0.3.2
urllib3==1.26.3
virtualenv==20.4.2
Wand==0.6.5
wasabi==0.8.2
wikipedia==1.4.0
wrapt==1.12.1
